body
{
  color: white;
  background: #9b0b72;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#result_emotion_name ,#result_emotion_name2  
{
  color: black;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
.heading {
  font-size: 18px;
  border-radius: 10px;
  letter-spacing:10px;
}
#monkeypox {
  background-color: cyan;
  color:black
  
}
#default1 {
  background-color: white;
  color: green;
}
#default2 {
  background-color: white;
  color: green;
}
#default3 {
  background-color: white;
  color: green;
}
#hello {
  background-color:blue;
}

